<div class="row">
    <div class="col-4 side">
        <app-image></app-image>
        <h2>Summary</h2>
        <app-summary></app-summary>
        <h2>Languages</h2>
        <ul>
            <li>Ukrainian (native)</li>
            <li>English (upper-intermediate)</li>
            <li>German (DSD B2/C1)</li>
        </ul>
        <h2>Hobbies</h2>
        <ul>
            <li>Football</li>
            <li>Basketball</li>
            <li>Swiming</li>
        </ul>
        <h2>Contacts</h2>
        <app-contact></app-contact>
    </div>
    <div class="col-8">
        <app-content></app-content>
    </div>

</div>
