<div class="cv">
    <mat-tab-group class="tabs">
        <mat-tab label="Summary">
            <section>
                <p>Your summary goes here.</p>
            </section>
        </mat-tab>
        <mat-tab label="Experience">
            <section>
            <mat-list>
                <mat-list-item>
                    <h4>Job Title</h4>
                        <p><strong>Company Name</strong></p>
                        <p>Employment dates</p>
                        <mat-list>
                            <mat-list-item>Responsibility 1</mat-list-item>
                            <mat-list-item>Responsibility 2</mat-list-item>
                            <mat-list-item>Responsibility 3</mat-list-item>
                        </mat-list>
                </mat-list-item>
                <mat-list-item>
                    <h4>Job Title</h4>
                        <p><strong>Company Name</strong></p>
                        <p>Employment dates</p>
                        <mat-list>
                            <mat-list-item>Responsibility 1</mat-list-item>
                            <mat-list-item>Responsibility 2</mat-list-item>
                            <mat-list-item>Responsibility 3</mat-list-item>
                        </mat-list>
                </mat-list-item>
               </mat-list>
            </section>
        </mat-tab>
        <mat-tab label="Education">
            <section>
                <h4>Degree Name</h4>
                <mat-list>
                    <mat-list-item>
                        <span matListItemTitle>University Name</span>
                    </mat-list-item>
                    <mat-list-item>Graduation date</mat-list-item>
                </mat-list>
            </section>
        </mat-tab>
        <mat-tab label="Skills">
            <section>
                <mat-list>
                    <mat-list-item>Skill 1</mat-list-item>
                    <mat-list-item>Skill 2</mat-list-item>
                    <mat-list-item>Skill 3</mat-list-item>
                    <mat-list-item>Skill 4</mat-list-item>
                    <mat-list-item>Skill 5</mat-list-item>
                    <mat-list-item>Skill 6</mat-list-item>
                </mat-list>
            </section>
        </mat-tab>
        <mat-tab label="Contact">
            <section>
                <mat-card>
                    <mat-card-title>Yurii Kotsiuba</mat-card-title>
                    <mat-card-content>
                        <p>yukotsiuba@gmail.com</p>
                        <p>+380958102193</p>
                        <p>Your Website</p>
                        <p>Ivano-Frankisk</p>
                    </mat-card-content>
                </mat-card>
            </section>
        </mat-tab>
    </mat-tab-group>
</div>
