<div class="row">
    <div class="col-4 side">
        <app-image></app-image>
        <h2>Summary</h2>
        <app-summary></app-summary>
        <h3>Languages</h3>
        <mat-list class="inline">
            <mat-list-item>Ukrainian (native)</mat-list-item>
            <mat-list-item>English (upper-intermediate)</mat-list-item>
            <mat-list-item>German (DSD B2/C1)</mat-list-item>
        </mat-list>
    </div>
    <div class="col-8">
        <app-content></app-content>
    </div>

</div>
