<header>
    <div class="row">
        <div class="col-8 title">
            <h1>Yurii Kotsiuba</h1>
            <h2>Java Fullstack Developer</h2>
        </div>
        <div class="col-4">
            <img class="profile-image" alt="profile"
            src="https://scontent-iev1-1.xx.fbcdn.net/v/t1.6435-9/69050760_1459345294203452_5307049607425949696_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=N7613JbhqukAX8YviJl&tn=2A_EdcGZu7bX_ws8&_nc_ht=scontent-iev1-1.xx&oh=00_AfAX6nOlm3oOGYvpxD9Jy2rEyFjnjmS87zEQtK0ZIRR03A&oe=6423E937">
        </div>
    </div>
    
</header>
