<mat-card class="card">
    <mat-card-title>Junior researcher</mat-card-title>
    <mat-card-subtitle>
        <p><strong>Karpenko Physico-Mechanical Institute of the NAS of Ukraine</strong></p>
        <p>2017-2022</p>
    </mat-card-subtitle>
    <mat-card-content>
        <h4><i>Responsibilities:</i></h4>
        <mat-list>
            <mat-list-item>Digital holography.</mat-list-item>
            <mat-list-item>Digital holographic interferometry.</mat-list-item>
            <mat-list-item>Digital phase-shifting interferometry.</mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>
<mat-card class="card">
    <mat-card-title>Java internship courses</mat-card-title>
    <mat-card-subtitle>
        <p><strong>Soft Serve</strong></p>
        <p>november 2021 - february 2022</p>
    </mat-card-subtitle>
    <mat-card-content>
        <h4><i>Responsibilities:</i></h4>
        <mat-list>
            <mat-list-item>Developing controllers, services, DTO,
                DAO, UI.</mat-list-item>
            <mat-list-item>Unit and integration tests for user
                entities.</mat-list-item>
            <mat-list-item>Registration of user with google
                OAuh2.</mat-list-item>
            <mat-list-item>Spring security configuration.</mat-list-item>
            <mat-list-item>User email confirmation and
                password reset logic with email
                request.</mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>