<app-label>Experience</app-label>
<div>
    <h3>Karpenko Physico-Mechanical Institute of the NAS of Ukraine</h3>
    <p><strong>Junior researcher</strong></p>
    <p>2017-2022</p>
    <h4><i>Responsibilities:</i></h4>
    <mat-list>
        <mat-list-item>Digital holography.</mat-list-item>
        <mat-list-item>Digital holographic interferometry.</mat-list-item>
        <mat-list-item>Digital phase-shifting interferometry.</mat-list-item>
    </mat-list>
</div>

<div>
    <h3>Java internship courses</h3>
    <p>november 2021 - february 2022</p>
    <h4><i>Responsibilities:</i></h4>
        <mat-list>
            <mat-list-item>Developing controllers, services, DTO,
                DAO, UI.</mat-list-item>
            <mat-list-item>Unit and integration tests for user
                entities.</mat-list-item>
            <mat-list-item>Registration of user with google
                OAuh2.</mat-list-item>
            <mat-list-item>Spring security configuration.</mat-list-item>
            <mat-list-item>User email confirmation and
                password reset logic with email
                request.</mat-list-item>
        </mat-list>
</div>