<app-label>Experience</app-label>
<div class="exp">
    <h3>Karpenko Physico-Mechanical Institute of the NAS of Ukraine</h3>
    <p><strong>Junior researcher</strong></p>
    <p>2017-2022</p>
    <h4><i>Responsibilities:</i></h4>
    <mat-list>
        <mat-list-item><mat-icon matListIcon>-</mat-icon> <div mat-list-item-content>
            Developing software for digital holography.
          </div></mat-list-item>
          <mat-list-item><mat-icon matListIcon>-</mat-icon> <div mat-list-item-content>
            Developing software for digital holographic interferometry.
          </div></mat-list-item>
          <mat-list-item><mat-icon matListIcon>-</mat-icon> <div mat-list-item-content>
            Developing software for digital phase-shifting interferometry.
          </div></mat-list-item>
    </mat-list>
</div>

<div class="exp">
    <h3>Java internship courses</h3>
    <p>november 2021 - february 2022</p>
    <h4><i>Responsibilities:</i></h4>
        <mat-list>
            <mat-list-item><mat-icon matListIcon>-</mat-icon> <div mat-list-item-content>
                Developing controllers, services, DTO, DAO, UI.
              </div></mat-list-item>
              <mat-list-item><mat-icon matListIcon>-</mat-icon> <div mat-list-item-content>
                Unit and integration tests for user entities.
              </div></mat-list-item>
              <mat-list-item><mat-icon matListIcon>-</mat-icon> <div mat-list-item-content>
                Implemanting user registration with Google OAuh2.
              </div></mat-list-item>
              <mat-list-item><mat-icon matListIcon>-</mat-icon> <div mat-list-item-content>
                Spring security configuration.
              </div></mat-list-item>
              <mat-list-item><mat-icon matListIcon>-</mat-icon> <div mat-list-item-content>
                User email confirmation and password reset logic with email request.
              </div></mat-list-item>
        </mat-list>
</div>