<mat-card class="card">
    <mat-card-title>Pet projects</mat-card-title>
    <mat-card-content>
        <mat-list>
            <mat-list-item><a href="https://github.com/jurok3x/financemanager-app">Financemanager-app</a></mat-list-item>
            <mat-list-item><a href="https://github.com/jurok3x/financemanager-frontend-app">Financemanager-frontend-app</a></mat-list-item>
            <mat-list-item><a href="https://github.com/jurok3x/financemanager-analytics-app">Financemanager-analytics-app</a></mat-list-item>
            <mat-list-item><a href="https://github.com/IF-135-jAVA/eClassroomUa">eClassroomUa</a></mat-list-item>
            <mat-list-item><a href="https://github.com/IF-135-jAVA/eClassroomUa-Frontend">eClassroomUa-Frontend</a></mat-list-item>
            <mat-list-item><a href="https://github.com/jurok3x/cv">My cv website</a></mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>
<mat-card class="card">
    <mat-card-title>Hard skills</mat-card-title>
    <mat-card-content>
        <mat-list>
            <mat-list-item>Spring data Jpa</mat-list-item>
            <mat-list-item>Postgresql</mat-list-item>
            <mat-list-item>Spring boot</mat-list-item>
            <mat-list-item>Spring security</mat-list-item>
            <mat-list-item>Angular</mat-list-item>
            <mat-list-item>Html/css/js</mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>
<mat-card class="card">
    <mat-card-title>Soft skills</mat-card-title>
    <mat-card-content>
        <mat-list>
            <mat-list-item>Communicative</mat-list-item>
            <mat-list-item>Initiative</mat-list-item>
            <mat-list-item>Punctual</mat-list-item>
            <mat-list-item>Ready to learn something new</mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>
<mat-card class="card">
    <mat-card-title>Languages</mat-card-title>
    <mat-card-content>
        <mat-list>
            <mat-list-item>Ukrainian (native)</mat-list-item>
            <mat-list-item>English (upper-intermediate)</mat-list-item>
            <mat-list-item>German (DSD B2/C1)</mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>