<app-label>Skills</app-label>
<div class="row">
    <div class="col-4">
        <h3>Pet projects</h3>
        <mat-list class="inline">
            <mat-list-item><mat-icon matListIcon>-</mat-icon> <div mat-list-item-content>
                <a href="https://github.com/jurok3x/financemanager-app">Financemanager-app</a>
              </div></mat-list-item>
              <mat-list-item><mat-icon matListIcon>-</mat-icon> <div mat-list-item-content>
                <a href="https://github.com/jurok3x/financemanager-frontend-app">Financemanager-frontend-app</a>
              </div></mat-list-item>
              <mat-list-item><mat-icon matListIcon>-</mat-icon> <div mat-list-item-content>
                <a href="https://github.com/jurok3x/financemanager-analytics-app">Financemanager-analytics-app</a>
              </div></mat-list-item>
              <mat-list-item><mat-icon matListIcon>-</mat-icon> <div mat-list-item-content>
                <a href="https://github.com/IF-135-jAVA/eClassroomUa">eClassroomUa</a>
              </div></mat-list-item>
              <mat-list-item><mat-icon matListIcon>-</mat-icon> <div mat-list-item-content>
                <a href="https://github.com/IF-135-jAVA/eClassroomUa-Frontend">eClassroomUa-Frontend</a>
              </div></mat-list-item>
              <mat-list-item><mat-icon matListIcon>-</mat-icon> <div mat-list-item-content>
                <a href="https://github.com/jurok3x/cv">My cv website</a>
              </div></mat-list-item>
        </mat-list>
    </div>
    <div class="col-4">
        <h3>Hard skills</h3>
        <mat-list class="inline">
            <mat-list-item><mat-icon matListIcon>-</mat-icon> <div mat-list-item-content>
                Spring Data Jpa
              </div></mat-list-item>
              <mat-list-item><mat-icon matListIcon>-</mat-icon> <div mat-list-item-content>
                Spring Boot
              </div></mat-list-item>
              <mat-list-item><mat-icon matListIcon>-</mat-icon> <div mat-list-item-content>
                Spring Security
              </div></mat-list-item>
              <mat-list-item><mat-icon matListIcon>-</mat-icon> <div mat-list-item-content>
                Postgresql
              </div></mat-list-item>
              <mat-list-item><mat-icon matListIcon>-</mat-icon> <div mat-list-item-content>
                Angular
              </div></mat-list-item>
              <mat-list-item><mat-icon matListIcon>-</mat-icon> <div mat-list-item-content>
                Html/css/js
              </div></mat-list-item>
        </mat-list>
        
    </div>
    <div class="col-4">
        <h3>Soft skills</h3>
        <mat-list class="inline">
            <mat-list-item><mat-icon matListIcon>-</mat-icon> <div mat-list-item-content>
                Communicative
              </div></mat-list-item>
              <mat-list-item><mat-icon matListIcon>-</mat-icon> <div mat-list-item-content>
                Initiative
              </div></mat-list-item>
              <mat-list-item><mat-icon matListIcon>-</mat-icon> <div mat-list-item-content>
                Punctual
              </div></mat-list-item>
              <mat-list-item><mat-icon matListIcon>-</mat-icon> <div mat-list-item-content>
                Ready to study
              </div></mat-list-item>
        </mat-list>
    </div>

</div>




    


    

    

