/* Main styles */
.background{
    height: 100vh ;
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
}
.side {
    background-color: white;
}

.main {
    background-color:white;
    padding: 0px;
}


